
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


:root {
    --roboto-font: "Roboto", sans-serif;
    --outfit-font: "Outfit", sans-serif;
    --oswald-font: "Oswald", sans-serif;
    --montserrat-font: "Montserrat", sans-serif;

    --main-bg-color: #ECECEC;
    --sidebar-bg-color: #333;
    --blue-btn-color: #0072BC;
    --button-bg-color: #111827;
    --secendory-header-bg-color: #DBD8E3;
    --notification-color: #DC2F2F;
    --notification-bg-color: #A7BCB9;
    --success-bg-color:  #edf3db;
    --error-bg-color:  #ffebe8;

    --error-color: #721c24;
    --success-color: #1c721c;
    --header-color: #132743;
    --black-color: #000000;
    --secendory-header-color: #352F44;
    --green-color: #0CA909;
    --link-color: #8594E4;
    --button-text-color: white;

    --committee-bg-color: #27296D;
    --group-bg-color: #8A1253;
    --student-bg-color: #007CB9;
    --advisor-bg-color: #004445;

    --gray-icon-color: #DBD8E3;
    --dark-icon-color: #352F44;
    --light-icon-color: #FFFFFF;
    --input-icon-color: #5C5470;

    --box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.154);
    --transition-speed: 0.3s;

    --text-center: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--roboto-font);
}
body {
    margin: 0;
    background-color: var(--main-bg-color);
}
img{
    width: 60px;
    max-width: 100%;
    margin-right: .4rem;
}

h1 {
    font-size: 1.7rem;
    color: var(--header-color);
    letter-spacing: 5px;
    align-self: center;
    margin-top: 2rem;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}
.logo{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.login-form{
    padding: 2.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

label {
    color: #352F44;
    font-weight: 600;
}

.login-input {
    margin: .5rem 0 .75rem 0;
    padding: .75rem;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    border: .5px solid #8594E4;
    box-shadow: 1px 2px 3px rgba(15, 15, 15, 0.637);
    transition: .7s;
    display:flex;
    justify-content: space-between;
}
.login-input svg{
    width: 16px;
    color: var(--input-icon-color);
}


.login-input:focus-within {
    border: .5px solid black;
}

.login-input-field{
    border: none;
    outline: none;
    background-color: var(--main-bg-color);
    width: 100%;
}

.submit{
    outline: none;
    border: 1px solid transparent;
    background: var(--button-bg-color);
    padding: .8rem 2rem;
    color: white;
    border-radius: 15px;
    transition: .3s;
}

.submit:hover,
.submit:hover {
    background: #fff;
    color: var(--button-bg-color);
    border: 1px solid #111827;
    cursor: pointer;
}

.submit-btn{
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}

.forget-password{
    text-decoration: none;
    color: var(--link-color);
    letter-spacing: 2px;
    font-size: 14px;
}
a:hover,
a:focus{
    opacity: .6;
}

.invalid-credential{
    margin: 0 0 1rem 0;
    text-align: center;
    background-color: var(--error-bg-color);
    color: var(--error-color);
    padding: 1rem 0;
    border-radius: 10px;
}

/* --------footer--------- */
.footer {
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    color: #352F44;
    text-align: center;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*---------header--------*/
header{
    background: #FAFAFA;
    padding: .2rem 0;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.154);
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.hearder-h1 {
    font-size: 2rem;
    margin: 0;
}

.header-icons {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.notification{
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--notification-bg-color);
    border-radius: 50%;
    position: relative;
}

.notification::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: var(--notification-color);
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 21px;
    /* transform: translate(6px, -6px) */
}

.notification svg{
    width: 18px;
    color: var(--dark-icon-color);
}

.logout svg{
    width: 22px;
    vertical-align: bottom;
    color: var(--dark-icon-color);
}


.nav-toggle {
    cursor: pointer;    
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0em;
    margin-top: .3rem;
    border-radius: 50%;
    background: var(--main-bg-color);
    color: var(--dark-icon-color);
    transition: opacity 250ms ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}
.hamburger {
    width: 50%;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 2.5px;
    background: var(--dark-icon-color);
}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}
.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}

/* ---------counter--------- */
.icon-container{
    width: 40%;
    height: 60px;
    border-radius: 50%;
    background: var(--blue-btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.committee-counter{background-color: var(--committee-bg-color);}
.advisor-counter{background-color: var(--advisor-bg-color);}
.student-counter{background-color: var(--student-bg-color);}
.group-counter{background-color: var(--group-bg-color);}

.counter-icon{
    width: 35px;
    fill: var(--light-icon-color);

}
.card-container{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.154);
    margin: .5rem .3rem;
    padding: .6rem;
    display: flex;
    align-items: center;
    width: 170px;
}
.count-container{
    text-align: center;
    margin-left: .5rem; 
    width: 50%;
}
.count-container h4{
    margin: 0;
}
.user-counter-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* -------------side bar------------ */


.side-bar{
    background-color: var(--sidebar-bg-color);
    width: 250px;
    height: 100vh;
    color: var(--gray-icon-color);
    position: absolute;
    left: -250px;
    /* left: 0; for media query */
    transition: 0.5s ease;
}
.side-bar-visible{
    left: 0;
    /* left: 250px; for media query */
}

.side-bar-head{
    padding: 10px 0 20px 10px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.154);
}

.user-info {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-status {
    width: 70%;
    margin-top: .4rem;
}

.user-name {
    margin: 0 0 .2rem 0;
}
.user-type {
    margin: 0;
    font-weight: normal;  
}

.side-bar-head .logo img{
    width: 50px;
}
.side-bar-head .logo{
    margin: 0;
}
.user-photo{
    align-self: flex-end;
    width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 50%;
    /* background: #007CB9; */
    background: transparent;
    overflow: hidden;
    position: relative;
}
.user-photo img {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 5px; 
}


ul{
    list-style: none;
    padding-left: 10px;

}   
.side-bar-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-family: var(--outfit-font);
    color: var(--gray-icon-color);
    fill: var(--gray-icon-color);
    padding: 5px;
    width: 200px;
}
.col{
    margin-left: .8rem;
}

.side-icon{
    width: 15px;
    height: 15px;
}


.inner-list{
    list-style: disc;
    margin-left: 1.6rem;
    transition: transform .3s ease;
    display: none;
}

.inner-list-visible {
    display: block;
}

.left-angle-icon{
    align-self: flex-end;
    transition: transform 0.3s ease;
    margin-left: auto;

}

/* Rotate the arrow icon when the list is expanded */
.left-angle-icon-rotate {
    transform: rotate(-90deg);
}


.body-container{
    /* border: 3px solid green; */
    position: absolute;
    top: 49px;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    overflow: hidden;
    z-index: -10;
}

.body-element-container{
    /* border: 3px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    transition: 0.5s ease;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.body-element-container-smash{
    left: 250px;
}

/* form for manage committee */

.form-container{
    width: 90%;
    margin: 1rem auto;
    max-width: 700px;
    min-height: 100%;
    margin-bottom: 3rem;
}

.button-container{
    margin: 0;
    padding: .9rem 0;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.154);
}

.ms-button{
    margin: 0;
    padding: .9rem .4rem;
    background: var(--light-icon-color);
    border-radius: 10px 10px 0 0;
    color: var(--dark-icon-color);
}

.ms-button{
    text-decoration: none;
}
.ms-button:focus{
    background: transparent;
}

.add-committee-form{
    margin-top: 1rem;
    background: var(--light-icon-color);
    border-radius: 10px 10px 0 0;
    display: none;
}

.modify-committee-form{
    margin-top: 1rem;
    background: var(--light-icon-color);
    border-radius: 10px 10px 0 0;
    display: none;
}

.manage-committee-form-visible{
    display: block;
}

.manage-status{
    background: #DBD8E3;
    padding: .7rem 0;
    border-radius: 10px 10px 0 0;
    text-align: var(--text-center);
}
.input-container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0.05rem;
}

.form-input {
    margin: .5rem 0 .75rem 0;
    padding: .65rem;
    background-color: var(--light-icon-color);
    border-radius: 8px;
    border: 2px solid #757A79;
    transition: .7s;
}
.form-input-field{
    border: none;
    outline: none;
    background-color: var(--light-icon-color);
    width: 100%;
}
.form-input:focus-within {
    border: 2px solid var(--blue-btn-color);
}


/* ------------notice board--------------- */
.notice-container{
    border-radius: 5px;
    width: 90%;
    margin: 10px auto 0 auto;
    max-width: 450px;
    display: flex;
    align-items: center;
    height: 100px;

}
.notice-icon{
    background-color: var(--student-bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15) ;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding: .3rem;
    z-index: 1;
}
.notice-icon svg {
    fill: white; 
}
.notice-content{
    width: 70%;
    background-color: var(--light-icon-color);
    border-radius: 0 5px 5px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15) ;

}

.notice-content h5 {
    margin: 0;
    font-size: 1.3rem;
    font-family: var(--outfit-font);
    font-weight: normal;
    color: var(--header-color);
    padding:.2rem .5rem;
}
.notice-content h5:first-of-type {
    font-weight: bold;
}

.notice-button{
    padding: .2rem;
    background: var(--gray-icon-color);
}
.notice-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--header-color);
}
.notice-link h6{
    font-size: 1rem;
    margin:0 .3rem 0 0;
}

/* Tables */
/* Style the table */

.table-container {
    width: 80%;
    margin: 0 auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: var(--sidebar-bg-color);
    color: #ffffff;
    text-align: left;
    border-radius: .75rem;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--sidebar-bg-color);
}


/* ---forum container--- */
/* .forum-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
} */

/* .forum{
    margin: 0 auto;
    max-height: 70%;
    overflow-y: scroll;
} */
/* .forum-top-bottom{
    width: 90%;
    margin: 1rem auto 0 auto;
    max-width: 700px;
    min-height: 10%;
} */

@media (min-width: 730px) {
    .side-bar{
        left: 0;
    }
    .side-bar-visible{
        left: -250px;
    }
    .body-element-container{
        width: 80.5%;
        left: 250px;

    }
    .body-element-container-smash{
        width: 100%;
        left: 0;
    }
}