
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --main-font: "Roboto", sans-serif;
    --main-bg-color: #ECECEC;
    --primary-color: #352F44;
    --secondary-color: #8594E4;
    --button-bg-color: #111827;
    --button-text-color: white;
    --sidebar-bg-color: #333;
    --box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.154);
    --transition-speed: 0.3s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--main-font);
}
body {
    margin: 0;
    background-color: var(--main-bg-color);
}
img{
    width: 60px;
    max-width: 100%;
    margin-right: .4rem;
}

h1 {
    font-size: 1.7rem;
    color: var(--primary-color);
    letter-spacing: 5px;
    align-self: center;
    margin-top: 2rem;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}
.logo{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.login-form{
    padding: 2.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.154);
}

label {
    color: var(--primary-color);
    font-weight: 600;
}

.input {
    margin: .5rem 0 .75rem 0;
    padding: .75rem;
    background-color: #ECECEC;
    border-radius: 15px;
    border: .5px solid #8594E4;
    box-shadow: 1px 2px 3px rgba(15, 15, 15, 0.637);
    transition: .7s;
    display:flex;
    justify-content: space-between;
}
svg{
    width: 16px;
    color: #5C5470;
}

.input:focus-within {
    border: .5px solid black;
}

.input-field{
    border: none;
    outline: none;
    background-color: #ECECEC;
    width: 100%;
}

.submit{
    outline: none;
    border: 1px solid transparent;
    background: #111827;
    padding: .8rem 2rem;
    color: white;
    border-radius: 15px;
    transition: .3s;
}

.submit:hover,
.submit:hover {
    background: #fff;
    color: #111827;
    border: 1px solid #111827;
    cursor: pointer;
}

.submit-btn{
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}

a{
    text-decoration: none;
    color: #8594E4;
    letter-spacing: 2px;
    font-size: 14px;
}
a:hover,
a:focus{
    opacity: .6;
}

.footer {
    margin: 4rem 0 0 0;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    color: var(--primary-color);
    text-align: center;
    font-size: .8rem;
}
.invalid-credential{
    margin: 0 0 1rem 0;
    text-align: center;
    background-color: #ffebe8;
    color: #721c24;
    padding: 1rem 0;
    border-radius: 10px;
}
